# .NET Core
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Next.js / Node.js
node_modules/
.next/
out/
build/
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
